.App {
  text-align: center;

  button:not(:disabled) { 
    cursor:pointer;
  } 
}

.inputbox {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;

  textarea {
    height: 50px;
  }
}

.treeWrapper {
  align-self: center;
}

.rd3t-label > text {
  font-size: 1.2em;
}

.themeSvg {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.light-mode-wrapper {
  background-color: #FFFFFF;

  .inputbox {
    textarea {
      background-color: #FFFFFF;
    }
  }
}

.dark-mode-wrapper {
  background-color: #202024;

  .inputbox {
    textarea {
      background-color: #e6e6e6;
    }
  }
  
  .textareaLabel {
    color: #FFFFFF;
  }
  
  .wordCountLabel {
    color: #FFFFFF;
  }
  
  .rd3t-node > circle {
    fill: #bfbfbf;
    stroke: #bfbfbf;
  }
  
  .rd3t-leaf-node > circle {
    stroke: #bfbfbf;
  }
  
  .rd3t-label > text {
    fill: #FFFFFF;
  }
  
  .rd3t-link {
    stroke: #bfbfbf !important;
  }
}
